.header-cesar{
    display: flex;
    justify-content: space-evenly;
    background-color: #a6a2a2;
}

.nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    box-sizing: border-box;
    padding: 20px;
}

.titulo-geral{
    text-align: center;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.paragrafo-main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    overflow: hidden;
}

.container-img{ 
    padding: 20px;
    display: table;
}

.img{
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    margin-left: 5em;
}

.paragrafo-imagem{
  display: table-cell; 
  vertical-align:middle;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em
}