:root {
    --color-blue: #336699;
    --color-pink: #DC143C;    
    --font: 'Lato', sans-serif;
    
}

body {
    font-family: var(--font);
}

.text-blue {
    color: var(--color-blue);
}
.text-pink {
    color: var(--color-pink);
    font-weight: 900;
}

.logo-menu{
    font-size: 27px;
    color: var(--color-blue);
}

.navbar-toggler{ /*sombra*/
box-shadow: none !important; /*faz com que esse cara prevalça sobre o bootstrap - cambiarra, n eh tão correto*/
}

.nav-link{
     font-weight: 700;
}

.nav-link:hover , .logo-menu:hover{
 color: var(--color-blue);
}

/* .margin-menu{
    margin-bottom: 100px;
    margin: 80px 0;
} */