.btn{
    border: 1px solid #dc143c;
    padding: 10px 30px;
    background-color: #dc143c;
    border-radius: 70px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px; /*espaçamento do btn*/
    transition: .7s; /*demora - 5 milisegundo para ocorrer transição do btn*/
}
/*pseudoclasse = ativa funções - quando o ponteuro do mause tiver em cima do item - muda TD quando encosta*/
.btn:hover{
    background-color: transparent;
    color: #dc143c;
}