.cards{
    height: 150%; /*total do fundo preto, ele vai preencher de acordo com quanto eu vou pondo cada card*/
    color: #fff;
    display: flex;
    flex-wrap: wrap; /*sem quebrar a linha*/
    align-items: center;
    justify-content: space-evenly; /*espaço paa tds*/
    padding: 40px 0;
    row-gap: 30px; /*espaçameno so na linha*/
}
.card-item{
    width: 28%;
    height: 450px;
    text-align: center;
    display: flex; /*da um espaçamento sem usar margin*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /*espaçamento em linha e coluna*/
    box-shadow: 1px 1px 30px #999;
    border-radius: 7px;
    transition: .5s;
}

.card-item:hover{
    transform: scale(1.1); /*cresce e diminui proporcionamente*/
}

.card-item img{
    width: 80%; /*80% de 30% do tamanho da div*/
    border-radius: 7px;
    transition: .5s;
}

