.hero{
    color: #fff;
    display: flex; /*deixa um do lado do outro*/
    /*flex-direction: row; //padrao, tds elementos fica em linha */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center /*alinhas tds os textos*/;
}

.hero h1{
    /*font-size: 8vmax;//ajusta a o tamanho da fonte de acordo com a quantidade de pixel*/
    font-size: 8vmin; /*quandtidade minima - responde melhor quando diminui o px*/
}

.hero p { 
    width: 60%; /*para ficar td espaçadinho no paragrafo quando diminui o px*/
    font-size: 18px;
    margin-bottom: 30px;
}
