.titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
    /*n vai prevalecer a herença do pai - vai na do filho - efeito cascata*/
    font-family:'Courier New', Courier, monospace ;
}

.paragrafo{
    font-size: 14px;
    text-align: justify;
    padding:15px 15px 15px 20px;
    text-align: justify;
    color:cyan;
    color: #fff;

}

.imagem-do-drone1{
    width: 50%;
    height: 500px;
    margin: 33px 55px 55px 55px;

}

.imagem-do-drone2{
    width: 100%;
    margin: 20px;
}

.imagem-do-drone3{
    width: 50%;
    height: 50%;
    margin: 100px 100px 100px 550px;
}

