.titulo-descricao1{
    font-size: 15px;
    text-align: center;
    font-weight: bolder
}

.titulo-descricao2{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

.meu-nome{
    font-size: 15px;
    text-align: center;
    color: blueviolet;
}

.img-grande{
    display: flex;
    justify-content: center;
}

.link{
    display: flex;
    justify-content: center;
}

.texto-front,
.html,
.css,
.javascript
{
    color: rgb(205, 43, 226);
    text-align: center;
}

.javascript{
    text-transform: uppercase;
}

.container{
    border: solid 2px;
    margin: 20px 20em 20px 20em;
    border-radius: 10px;
    padding: 20px;
}
.paragrafo{
    text-align: center;
}